html, body {
  background: black;
  color: #00b800;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

body {
  font-weight: 400;
}

button {
  font-family: 'Press Start 2P', cursive;
  display: block;
  margin: 0 auto;
  border: none;
  background: #00b800;
  padding: 10px 20px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

button:disabled {
   cursor: not-allowed;
}

h1 {
  font-size: 21px;
  text-align: center;
}

textarea {
  font-family: 'Press Start 2P', cursive;
  border: 3px solid black;
  width: 90%;
  margin: 0 auto;
  outline: none;
  height: 200px;
  background: #00b800;
  padding: 10px;
}

textarea:disabled {
  background: #a5a2a2;
}

/* Styling for Footer */
footer {
  background: transparent;
  color: #00b800;
  text-align: center;
  padding: 3em 0 0 0;
}

footer p {
  font-size: 12px;
}

#love {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

#love a {
  color: rgb(40, 216, 240);
  text-decoration: none;
}

#love > span {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}

#love > img {
  width: 30px;
  padding: 2px 6px 4px;
}
